.wrap {
  padding: 3vw 2vw;
  width: 100%;
  background: #ffcc33;
  border-radius: 2vw;
  font-weight: 500;
  font-size: 2vw; /* Relative font size */
  line-height: 1.2;
  color: #fff;
  border: 2px solid #ffcc33;
}

.question {
  background-color: #ffcc33;
  color: #fff;
  border: none;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.4s ease, padding 0.4s ease;
  opacity: 0;
  padding: 0 2vw;
  background-color: #fff;
  color: #000;
  border-radius: 2vw;
  margin-top: 1vw;
}

.answerVisible {
  max-height: 20vw; /* Adjust this value according to the expected content size */
  opacity: 1;
  padding: 2vw;
}

@media (max-width: 768px) {
  .wrap {
    padding: 5vw 3vw;
    border-radius: 4vw;
    font-size: 4vw;
  }

  .answer {
    padding: 0 4vw;
  }

  .answerVisible {
    max-height: 40vw;
    padding: 4vw;
  }
}