.wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: #f6c600;
}

.list {
    margin-top: 70px;
    list-style-type: none;
}

.listItem {
  margin-bottom: 11px;
}
