.wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 90%; 
  max-width: 925px;
  margin: 0 auto;
  padding: 0 1.25rem;
  position: relative;
}

.title {
  color: #f6c600;
  text-align: center;
}

.list {
  margin-top: 4.375rem;
  list-style-type: none;
  padding: 0;
  width: 100%;
  @media (max-width: 778px) {
    margin-top: 1.25rem;
  }
}

.listItem {
  margin-bottom: 0.688rem;
}