.sidebar {
  width: 50px;
  transition: width 0.3s;
  overflow: hidden;

  &:hover {
    width: 200px;
  }

  .nav ul {
    padding: 30px 0 30px 10px;
    list-style: none;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      padding: 10px;
      gap: 10px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s, color 0.3s;
      color: #9197B3;

      span {
        // display: none;
        white-space: nowrap;
      }

      svg {
        margin-right: 10px;
      }

      &:hover, &.active {
        background-color: #ffcc33;
        color: #fff;
      }

      &.active {
        background-color: #ffcc33;
        color: #fff;
      }
    }
  }

  &:hover .nav ul li span {
    display: inline;
  }
}