.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  .filterContainer select {
  width: 100%;
  white-space: nowrap; /* Запрещаем перенос текста */
  overflow: hidden; /* Скрываем контент, который выходит за пределы ячейки */
  text-overflow: ellipsis; /* Обрезаем текст и добавляем многоточие, если он не помещается */
}

  th {
    vertical-align: top;
    padding: 0 12px;
    text-align: left;
    border-bottom: 2px solid #FFD4A8;
  }

  .category {
    width: 16%; /* Устанавливаем ширину первой колонки чуть меньше */
  }

  .city {
    width: 8%; /* Устанавливаем ширину колонок с зарплатой, датой и статусом чуть больше */
  }

  .salary {
    width: 14%; /* Устанавливаем одинаковую и меньшую ширину для остальных колонок */
  }

  .type {
    width: 6%;
  }

  .number {
    width: 6%;
  }

  .experience {
    width: 8%;
  }

  .status {
    width: 10%;
  }

  .date {
    width: 7%;
  }

  .edit {
    width: 5.5%;
    
  }

  td {
    padding: 10px 20px;
    border-bottom: 1px solid #EFF2F7;
    // overflow: hidden; /* Скрываем контент, который выходит за границы ячейки */
    // white-space: nowrap; /* Запрещаем перенос текста */
    // text-overflow: ellipsis; /* Обрезаем текст, который не помещается */
  }

  tbody {
    padding: 10px;
  }
}
