.resumeSection {
  padding: 80px 200px;
  text-align: center;

  .title {
    margin-bottom: 60px;
    // padding: 30px;
  }

  .consultationForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    
    h3 {
      font-size: 35px;
      margin-bottom: 30px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0 40px;
      
      input {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 1em;
      }

      button {
        background: linear-gradient(69.61deg, #ff9900 1.52%, #ffcd00 97.06%);
        color: white;
        padding: 20px;
        border: none;
        border-radius: 5px;
        font-size: 25px;
        margin: 20px 0;
        cursor: pointer;
        transition: 1s;

        &:hover {
          background: linear-gradient(69.61deg, #ffcd00 1.52%, #ff9900 97.06%);
          transition: 1s;
        }
      }
    }

    p {
      font-size: 0.9em;
      color: #000000;
      margin-top: 10px;

      a {
        color: #007bff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .contactInfo {
    font-size: 35px;
    color: #333;
    display: flex;
    margin-bottom: -90px;

    a {
      color: #007bff;
      font-size: 45px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin-top: 10px;
    }

    img {
      margin-top: 20px;
    }
  }
}