.container {
  padding: 0 50px;
}

.title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 60px;
  
}

.stages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  gap: 50px;
  margin: 20px 0;
}

.stageCard {
  background: linear-gradient(69.61deg, #ff9900 1.52%, #ffcd00 97.06%);
  color: white;
  padding: 40px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 40%;
  
  text-align: center;
  
  h3 {
    font-size: 35px;
  }

  p {
    font-size: 25px;
  }
}
.stages p:nth-child(7)  {
  font-size: 0.8em;
}

.stageIcon {
  font-size: 2em;
  margin-bottom: 10px;
}

.coworkingSection {
  text-align: center;
  margin-top: 40px;
}

.coworkingImage {
  width: 80%;
  border-radius: 10px;
}