.button {
  border-radius: 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.main {
  padding: 0.625rem 1.5rem;
  background: linear-gradient(69.61deg, #FF9900 1.52%, #FFCD00 97.06%);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.44rem;
}

.more {
  padding: 0.938rem 4.25rem;
  color: #fff;
  background: linear-gradient(69.61deg, #FF9900 1.52%, #FFCD00 97.06%);
  font-size: 0.875rem;
  line-height: 1.05rem;

  @media (max-width: 576px) {
    padding: 0.738rem 3.25rem;
  }
}

.active {
  background: #000;
  cursor: auto;
  transition: 500 ease-in-out;
}

.span {
  display: block;
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.spanActive {
  transform: translateX(-1px) translateY(1px);
}
