.jobItem {
  width: 100%;
  table-layout: fixed;

  td {
    padding: 10px 20px;
  }

  .position {
    width: 20%;
  }

  .level {
    width: 15%;
  }

  .salary {
    width: 15%;
  }

  .type {
    width: 15%;
  }

  .number {
    width: 10%;
  }

  .switch {
    width: 10%;
  }

  .status {
    width: 15%;
  }
}