.jobItem {
  width: 100%;
  table-layout: fixed;

  td {
    padding: 10px 15px;
  }

  .position {
    width: 20%;
  }

  .level {
    width: 15%;
  }

  .salary {
    width: 15%;
  }

  .type {
    width: 15%;
  }

  .number {
    width: 10%;
  }

  .switch {
    width: 10%;
  }

  .status {
    width: 15%;
    span {
      position: absolute;
      padding-top: 5px;
      padding-left: 15px;
    }
  }
  .bg {
    cursor: pointer;
    background-color: #ffcc33;
    width: 40px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 13px;
  }
}
