.wrap {
  padding: 0.8125rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.3125rem; 
  font-size: 0.875rem; 
  color: #909090;
  border-bottom: 1px solid #e8e8e8;
  background: #fff;
  margin: 0 auto;

  @media (max-width: 900px) {
    font-size: 0.775rem;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 73.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.listItem {
  cursor: pointer;
}

.listItem:not(:last-child) {
  margin-right: 2.4375rem;

  @media (max-width: 1024px) {
    margin-right: 1.4375rem;
  }
}

.settings {
  display: flex;
  align-items: center;
  gap: 2.4375rem;

  @media (max-width: 1024px) {
    gap: 1.4375rem;
  }
}

.types {
  cursor: pointer;
}

.black {
  color: #121212;
}

@media (max-width: 834px) {
    .wrap {
      display: none;
    }
  }