.titleWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleSpan {
  color: #ffcc33;
}

.description {
  margin-top: 0.938rem;
  margin-bottom: 4.375rem;
  position: relative;
  font-size: 1.875rem;
  line-height: 2.25rem;

  @media (max-width: 576px) {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 0.10rem;
  }

  @media (max-width: 425px) {
    font-size: 1.125rem;
  }
}

.btnGrid {
  max-width: 778px;
  margin-top: 1.875rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); 
  grid-template-areas: 
    "btn1 btn2 btn3"
    "btn4 btn5 btn5";
  gap: 1.25rem;
  column-gap: 3.125rem;
  
  @media (max-width: 778px) {
    padding: 0 1.25rem;
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    grid-template-areas: 
      "btn1 btn2"
      "btn3 btn4"
      "btn5 btn5";
    gap: 1.25rem;
    column-gap: 1.563rem;
  }

  @media (max-width: 576px) {
    font-size: 0.813rem;
  }
}

.btn {
  padding: 0.625rem 2.5rem;
  background: #fff;
  color: #5f5f5f;
  border-radius: 1.875rem;
  border: none;
  font-size: 1.25rem;
  line-height: 1.875rem;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;

   &:nth-child(1) {
    grid-area: btn1;
    margin-left: 2.125rem;
  }

  &:nth-child(2) {
    grid-area: btn2;
  }

  &:nth-child(3) {
    grid-area: btn3;
    margin-right: 2.125rem;
    text-align: center;
  }

   &:nth-child(4) {
    grid-area: btn4;
    margin-right: -5rem;
  }

  &:nth-child(5) {
    grid-area: btn5;
    margin-left: 4.375rem;
  }

  &:hover {
    background: #ffcc33;
    color: #000;
  }

  @media (max-width: 778px) {

    &:nth-child(1) {
      grid-area: btn1;
      margin-left: -2.188rem;
    }

    &:nth-child(2) {
      grid-area: btn2;
      margin-right: -2.188rem;
    }

    &:nth-child(3) {
      grid-area: btn3;
      margin-right: 1.875rem;
      margin-left: -2.813rem;
    }

    &:nth-child(4) {
      grid-area: btn4;
      margin-right: -2.813rem;
      margin-left: -1.875rem;
    }

    &:nth-child(5) {
      grid-area: btn5;
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media (max-width: 576px) {
    padding: 0px 1.563rem;
    font-size: 0.813rem;
  }
}

.active {
  background-color: #ffcd00; 
  color: #000;
  box-shadow: 0 0 0 2px #5f5f5f;
}