.wrap {
  display: flex;
  margin-top: 74px;
  align-items: center;
  @media (max-width: 736px) {
    flex-direction: column-reverse;
    gap: 30px;
    margin-top: 35px;
    justify-content: center;
  }
}

.footerLogoIcon {
  margin-right: 73px;
  display: flex;
  align-items: flex-end;

  span {
    margin-left: 73px;
    font-weight: 600;
  }
  @media (max-width: 736px) {
    margin-right: 0;
  }
}

.text {
  font-size: 14px;
  line-height: 16.8px;
  color: #fff;
}

.iconsWrap {
  display: flex;
  margin-left: 125px;
  gap: 20px;
  @media (max-width: 736px) {
    margin-left: 0;
  }
}

