.wrap {
  display: flex;
  margin-top: 74px;
  align-items: center;
}

.footerLogoIcon {
  margin-right: 73px;
}

.text {
  font-size: 14px;
  line-height: 16.8px;
  color: #fff;
}

.iconsWrap {
  display: flex;
  margin-left: 200px;
}

.playMarketIcon {
  margin-right: 20px;
}
