.resumeSection {
  padding: 80px 150px;
  text-align: center;

  .title {
    margin-bottom: 60px;
    font-size: 48px;
  }

  .consultationForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    
    h3 {
      font-size: 35px;
      margin-bottom: 30px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0 40px;
      
      input {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 1em;
      }

      button {
        background: linear-gradient(69.61deg, #ff9900 1.52%, #ffcd00 97.06%);
        color: white;
        padding: 20px;
        border: none;
        border-radius: 5px;
        font-size: 25px;
        margin: 20px 0;
        cursor: pointer;
        transition: 1s;

        &:hover {
          background: linear-gradient(69.61deg, #ffcd00 1.52%, #ff9900 97.06%);
          transition: 1s;
        }
      }
    }
  }

  .contactInfo {
    font-size: 35px;
    color: #333;
    display: flex;
    margin-bottom: -90px;

    a {
      color: #007bff;
      font-size: 45px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin-top: 10px;
    }

    img {
      margin-top: 20px;
    }
  }
}

@media (max-width: 1024px) {
  .resumeSection {
    padding: 60px;

    .title {
      margin-bottom: 40px;
      font-size: 40px;
    }

    .consultationForm {
      h3 {
        font-size: 30px;
      }

      form {
        padding: 0 20px;
        
        button {
          font-size: 20px;
          padding: 15px;
        }
      }
    }

    .contactInfo {
      font-size: 30px;
      margin-bottom: -60px;

      a {
        font-size: 35px;
      }
    }
  }
}

@media (max-width: 768px) {
  .resumeSection {
    padding: 40px 0;
    .title {
      display: none;
    }

    .consultationForm {
      h3 {
        font-size: 20px;
      }

      form {
        padding: 0;
        
        button {
          font-size: 18px;
          padding: 12px;
        }
      }
    }

    .contactInfo {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
      font-size: 24px;

      a {
        font-size: 20px;
        margin-bottom: 10px;
      }

      p {
        font-size: 20px;
        margin-bottom: 10px;
      }

      img {
        display: none;
      }
    }
  }
}